@import 'variables.css';

/* Calculator Styles */

/* ++++++++++++++++++++++++++++++++ */
/* CALCULATOR CONTAINER LAYOUT */
/* ++++++++++++++++++++++++++++++++ */

.calculator {
  grid-template-areas:
    'nav  nav aside'
    'main main aside';
}

.tool--standard {
  max-width: 39rem;
  margin-top: 0.3rem;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.75fr;
}

/* ++++++++++++++++++++++++++++++++ */
/* DISPLAY LAYOUT */
/* ++++++++++++++++++++++++++++++++ */

.display_container--standard {
  max-width: 39rem;
  height: 100%;
}

.display_expression--standard {
  height: fit-content;
  padding: 0.5rem 1rem 0 1rem;
  text-align: right;
  font-size: 1.8rem;
  overflow-x: auto;
}

.display_result--standard {
  height: fit-content;
  width: auto;
  padding: 0.5rem 1rem 0 1rem;
  text-align: right;
  font-size: 3rem;
  overflow-x: auto;
}

/* ++++++++++++++++++++++++++++++++ */
/* BUTTON PAD LAYOUT */
/* ++++++++++++++++++++++++++++++++ */

.number_pad--standard {
  grid-column: 1 / -2;
  grid-row: 3 / -1;
}

.expo {
}
.expo--standard {
  vertical-align: super;
  font-size: 50%;
}

/* ++++++++++++++++++++++++++++++++ */
/* HISTORY COMPONENT */
/* ++++++++++++++++++++++++++++++++ */

.history {
  grid-area: aside;
  display: grid;
  grid-template-rows: 3.5rem auto 5.5rem;
  max-width: 21rem;
  height: auto;
}

.history_title {
  height: 3.5rem;
  font-size: 1.6rem;
}

.history_list__container {
  height: 57.5rem;
  width: 100%;
}

.history_list {
  /* max-height: 56.5rem; */
  height: 100%;
  max-width: 21rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end;
  overflow-x: hidden;
  overflow-y: auto;
}

.history_list::-webkit-scrollbar {
  width: 0.5rem;
}

.history_list::-webkit-scrollbar-track {
  -webkit-box-shadow: var(--shadow-primary);
  border-radius: 10px;
}

.history_list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgrey;
}

.history_item {
  max-width: inherit;
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: var(--color-font-primary);
  text-align: right;
  font-size: 1.6rem;
}

.history_item--expression {
  max-width: 16rem;
  height: fit-content;
  padding: 0.2rem;
  overflow-wrap: break-word;
}

.history_item--result {
  max-width: 16rem;
  height: fit-content;
  padding: 0.2rem;
  font-size: 1.8rem;
  font-weight: bold;
  overflow-wrap: break-word;
}

.history_bottom {
  padding-top: 0.5rem;
  text-align: right;
}

.history_btn--clear {
  padding-bottom: 0.5rem;
  height: 5rem;
  width: 5rem;
  border: none;
  border-radius: var(--border-radius-primary);
  background-color: var(--color-primary);
  box-shadow: var(--shadow-primary);
}

.history_btn--clear:hover {
  background-color: var(--color-tertiary);
}

.icon-trash {
  fill: #212529;
  width: 70%;
}

.history_btn--clear:hover .icon-trash {
  transform: scale(1.1);
  fill: var(--color-font-secondary);
}

.trash__svg {
  width: 75%;
  margin: auto;
  display: block;
}

.hidden {
  display: none;
}
