/* Converter Styles */
@import 'variables.css';

/* ++++++++++++++++++++++++++++++++ */
/* CONVERTER CONTAINER LAYOUT */
/* ++++++++++++++++++++++++++++++++ */

.converter {
  grid-template-areas:
    'nav nav nav'
    'main main main';
}

.tool--converter {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.2fr;
  gap: 1rem;
  margin-top: 1rem;
}

/* ++++++++++++++++++++++++++++++++ */
/* DISPLAY COMPONENT */
/* ++++++++++++++++++++++++++++++++ */

.display_container--converter {
  height: fit-content;
  box-shadow: none;
  padding: 1rem;
}

.display_unit {
  font-size: 2.4rem;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

.display--active {
  /* border: 2px solid var(--color-tertiary); */
  box-shadow: var(--shadow-primary);
}

.convert_unit_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ++++++++++++++++++++++++++++++++ */
/* BUTTON LAYOUT CONTAINER  */
/* ++++++++++++++++++++++++++++++++ */

.btn_container--converter {
  /* margin-top: 0.6rem; */
  margin: 1rem 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column: 2;
  grid-row: 1 / -1;
}

.btn--converter {
  font-size: 3.4rem;
}

.btn--converter:hover,
.btn--converter:active {
  font-size: calc(3.4rem * 1.5);
}

.btn--converter svg {
  width: 3.4rem;
  height: 3.4rem;
}
.btn--converter:hover svg {
  transform: scale(1.5);
}

/* ++++++++++++++++++++++++++++++++ */
/* DROPDOWN COMPONENT   */
/* ++++++++++++++++++++++++++++++++ */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  width: 16rem;
  list-style: none;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  background-color: var(--color-quaternary);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.dropdown_btn {
  width: 100%;
  padding: 1rem 1.6rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
  background-color: var(--color-quaternary);
  border: none;
  border-radius: var(--border-radius-primary);
}

/* ++++++++++++++++++++++++++++++++ */
/* DROPDOWN BUTTONS STYLES   */
/* ++++++++++++++++++++++++++++++++ */

.btn--unit {
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: fit-content;
  padding: 0.5rem;
  background-color: transparent;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: var(--border-radius-primary);
}

.btn--unit:hover,
.btn--unit:active {
  color: #495057;
  stroke: var(--color-font-tertiary);
  background-color: var(--color-secondary);
}

.dropdown_btn:hover,
.dropdown_btn:active {
  background-color: var(--color-secondary);
}

.icon-dropdown {
  width: 2.4rem;
  height: 2.4rem;
}
