:root {
  --color-primary: #ffffff;
  --color-secondary: #f1f3f5;
  --color-tertiary: #212529;
  --color-font-primary: #212529;
  --color-font-secondary: #ffffff;
  --color-font-tertiary: #343a40;
  --shadow-primary: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --shadow-secondary: rgba(0, 0, 0, 0.3) 0px 2px 4px,
    rgba(0, 0, 0, 0.2) 0px 7px 13px -3px, rgba(0, 0, 0, 0.1) 0px -3px 0px inset;
  --border-radius-primary: 0.5rem;
}

/* global reset */
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-size: 100%;
  padding: 10px;
}

header {
  height: 35px;
  grid-area: header;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-primary);
}

.background {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Main Container */
.container {
  height: 725px;
  width: 600px;
  padding: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% auto;
  grid-template-areas: 'header' 'type__container';
  font-family: sans-serif;
  color: var(--color-font-primary);
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  box-shadow: var(--shadow-primary);
}

/* Nav Container */

.tool__title {
  font-size: 20px;
  padding: 0 0 2px 0;
}

.nav {
  height: 35px;
  grid-area: nav;
  background-color: var(--color-primary);
  border-radius: var(--border-radius-primary);
  box-shadow: var(--shadow-secondary);
  display: flex;
  align-items: center;
}

.nav__btn {
  height: 35px;
  width: 35px;
  background-color: transparent;
  border-radius: 0.5rem 0 0 0.5rem;
  border: none;
  padding: 0 10px 0 10px;
}

.nav__dropdown {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-primary);
  box-shadow: var(--shadow-primary);

  display: flex;
  flex-direction: column;

  align-items: stretch;
  z-index: 2;
}

.nav_list--title {
  font-size: 14px;
  padding: 5px 0 5px 10px;
}

.list_item {
  list-style: none;
  padding: 5px 0 5px 10px;
}

.list_item:hover {
  background-color: var(--color-primary);
}

.list_btn {
  text-align: start;
  font-size: 14px;
  border: none;
  background-color: inherit;
  width: 100%;
}

.menu__svg {
  height: 16px;
}

.menu__svg:hover,
.menu__svg:active {
  height: 18px;
}

/* Tool Container */

.tool_container {
  grid-area: type__container;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 32.5% 32.5% 35%;
  grid-template-rows: 5% auto;
  /* grid-template-areas:
    'nav  nav aside'
    'main main aside'; */
  align-content: stretch;
  position: relative;
}

.display_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  color: var(--color-font-primary);
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-primary);
  box-shadow: var(--shadow-secondary);
}

/* Button Container Styling */

.btn_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 6px;
  margin-top: 4px;
}

/* Basic Button Styling */
svg {
  width: 24px;
}

.btn:hover svg {
  transform: scale(1.5);
}

.btn {
  font-size: 20px;
  font-weight: bold;
  color: inherit;
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
  box-shadow: var(--shadow-primary);
}

.btn:hover,
.btn:active {
  background-color: var(--color-tertiary);
  color: var(--color-font-secondary);
  font-size: 200%;
}

/* Number Pad Styling */

.number_pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  /* grid-gap: 3px; */
  gap: inherit;
}

/* Converter Styles */

.converter {
  grid-template-areas:
    'nav nav nav'
    'main main main';
}

.tool--converter {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.2fr;
  gap: 10px;
  margin-top: 10px;
}

.display_container--converter {
  /* border-radius: 0;
  box-shadow: none; */
  /* margin-top: 6px; */
  height: fit-content;
  box-shadow: none;
  padding: 10px;
}

.display_unit {
  font-size: 26px;
  font-weight: bold;
}

.convert_unit_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn_container--converter {
  margin-top: 6px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column: 2;
  grid-row: 1 / -1;
}

.btn--unit {
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.btn--unit:hover,
.btn--unit:active {
  color: #495057;
  stroke: var(--color-font-tertiary);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: bisque;
  list-style: none;
  position: relative;
  z-index: 1;
}

.svg_dropdown {
  width: 20px;
}

.btn--converter {
  /* font-size: 34px; */
  font-size: 200%;
}

.btn--converter:hover,
.btn--converter:active {
  font-size: 350%;
}

.btn--converter svg {
  width: 50%;
}
.btn--converter:hover svg {
  margin-top: 15%;
  transform: scale(1.5);
}
/* Calculator Styles */

.calculator {
  grid-template-areas:
    'nav  nav aside'
    'main main aside';
}

.tool--standard {
  margin-top: 3px;
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.75fr;
}

.display_container--standard {
  height: 100%;
}

.display_expression--standard {
  height: fit-content;
  padding: 5px 10px 0 10px;
  text-align: right;
  font-size: 18px;
}

.display_result--standard {
  height: fit-content;
  width: auto;
  padding: 5px 10px 0 10px;
  text-align: right;
  font-size: 50px;
  overflow: hidden;
}

.number_pad--standard {
  grid-column: 1 / -2;
  grid-row: 3 / -1;
}

.expo {
}
.expo--standard {
  vertical-align: super;
  font-size: 50%;
}

/* History Container */

.history {
  grid-area: aside;
  display: grid;
  grid-template-rows: 35px auto 55px;
  width: 210px;
  height: auto;
}

.history_title {
  height: 35px;
}

.history_list__container {
  height: 575px;
  width: 100%;
}

.history_list {
  max-height: 565px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.history_list::-webkit-scrollbar {
  width: 5px;
}

.history_list::-webkit-scrollbar-track {
  -webkit-box-shadow: var(--shadow-primary);
  border-radius: 10px;
}

.history_list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgrey;
}

.history_item {
  display: grid;
  grid-template-rows: 20px 30px;
  height: 50px;
  padding: 10px;
  color: var(--color-font-primary);
  text-align: right;
}

.history_item--expression {
  padding: 2px;
}

.history_item--result {
  padding: 2px;
  font-size: 24px;
  font-weight: bold;
}

.history_bottom {
  padding-top: 5px;
  text-align: right;
}

.history_btn--clear {
  padding-bottom: 5px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: var(--border-radius-primary);
  background-color: var(--color-primary);
  box-shadow: var(--shadow-primary);
}

.history_btn--clear:hover {
  background-color: var(--color-tertiary);
}

.trash__svg {
  width: 75%;
  margin: auto;
  display: block;
}

.svg__gray {
  filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.4));
}

.svg__white {
  filter: drop-shadow(3px 3px 2px rgba(255, 254, 254, 0.4));
}

.hidden {
  display: none;
}
