:root {
  --color-primary: #ffffff;
  --color-secondary: #f1f3f5;
  --color-tertiary: #212529;
  --color-quaternary: #dee2e6;
  --color-font-primary: #212529;
  --color-font-secondary: #ffffff;
  --color-font-tertiary: #343a40;
  --shadow-primary: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --shadow-secondary: rgba(0, 0, 0, 0.3) 0px 2px 4px,
    rgba(0, 0, 0, 0.2) 0px 7px 13px -3px, rgba(0, 0, 0, 0.1) 0px -3px 0px inset;
  --border-radius-primary: 0.5rem;
}

/*
-FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
